<div class="employee-card text-center shadow rounded-lg m-5 m-sm-0 mb-sm-3 p-3">
    <div class="profile-image mb-3">
        <img [src]="employee.avatar" alt="" class="rounded-circle shadow-sm profile-img">
    </div>
    <div class="font-weight-bold">
        {{employee.first_name}} {{employee.last_name}}
    </div>

    <div class="text-muted text-truncate">
        <span>
            <svg class="mail-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
            </svg>
        </span>
        {{employee.email}}
    </div>
</div>